body {
  font-family: "Roboto", sans-serif;
  background: url(./img/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: cover;

  padding: 30px;
  color: #333;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(226, 226, 253, 0.856);
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px solid rgba(75, 114, 223, 0.212);
}
